@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");
.bg-gradient {
  background-image: linear-gradient(109deg, #624DE7 0%, #ffd900 100%);
}

.primary-gradient {
  background-image: linear-gradient(106deg, #624DE7 0%, #372B81 100%);
}

.bg-primary-5 {
  background-color: #F7F6FE;
}

.bg-primary-10 {
  background-color: #EFEDFD;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none !important;
  list-style: none;
}

ul {
  margin-bottom: 0;
}

.row, .col, .col-sm, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-8, .col-sm-10, .col-sm-11, .col-sm-12, .col-md, .col-lg,
.container-fluid, .container,
h1, h2, h3, h4, h5, h6, p {
  margin: 0 !important;
  padding: 0;
}

.col, .col-sm, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-8, .col-sm-10, .col-sm-11, .col-sm-12, .col-md, .col-lg {
  padding: 0 20px;
}

.container {
  margin: 0 auto !important;
  padding: 0;
  width: 100%;
  max-width: 1440px;
}
@media (min-width: 768px) {
  .container {
    padding: 0 40px;
  }
}

body {
  overflow-x: hidden;
  font-family: DM Sans, sans-serif;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

.premium-line {
  font-size: 16px;
  font-weight: 500;
  color: #624DE7;
}

.hero-heading {
  font-size: 54px;
  font-weight: 900;
}

.highlight {
  color: #624DE7;
}

p {
  color: #555555;
  font-size: 16px;
}

.text-14-bold {
  font-size: 14px;
  font-weight: 700;
}

.btn-general {
  display: block;
  width: -moz-fit-content;
  width: fit-content;
  padding: 10px 15px;
  border-radius: 50px;
  background-color: #624DE7;
  color: white;
  font-size: 16px;
  font-weight: 500;
}

.btn-general:hover {
  background-color: #ffd900;
  color: black;
}

.btn-white {
  display: block;
  width: -moz-fit-content;
  width: fit-content;
  padding: 10px 15px;
  border-radius: 50px;
  background-color: white;
  color: #624DE7;
  font-size: 16px;
  font-weight: 500;
}

.btn-white:hover {
  background-color: #ffd900;
  color: black;
  border-color: #ffd900;
}

.book-demo-btn {
  border-radius: 12px;
  border: 1px solid var(--accent, #5E5FB1);
  padding: 9px 17px;
}
.book-demo-btn:hover {
  background-color: #ffd900;
}

div.header-div {
  position: sticky;
  top: 0;
  z-index: 999;
}

.title-col {
  margin-bottom: 50px !important;
  text-align: center;
}
.title-col h6 {
  color: #624DE7;
}
.title-col p {
  font-size: 24px;
  font-weight: 300;
}

.elevation {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
}

.w-fit {
  width: -moz-fit-content;
  width: fit-content;
}

.bg-primary-color {
  background-color: #624DE7;
}

.bg-accent {
  background-color: #ffd900;
}

.text-18-500 {
  font-size: 22px;
  font-weight: 300;
}

.text-18-bold {
  font-size: 18px;
  font-weight: 700;
}

.text-22-bold {
  font-size: 22px;
  font-weight: 700;
}
@media (max-width: 768px) {
  .text-22-bold {
    font-size: 20px;
  }
}

.section-heading {
  font-size: 38px;
  font-weight: 700;
  margin-bottom: 40px;
  line-height: normal;
}

.border-gray {
  border: 1px #D0D0D0 solid;
}

.rounded-12 {
  border-radius: 12px;
}

.rounded-20 {
  border-radius: 20px;
}

.rounded-40 {
  border-radius: 40px;
}

section:not(:last-child) {
  margin-bottom: 80px;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.left-0 {
  left: 0;
}

.border-primary-1 {
  border: 1px #624DE7 solid;
}

.text-color-accent {
  color: #ffd900;
}

@media (max-width: 575px) {
  .skew-top {
    display: none;
  }
}

.text-primary-color {
  color: #624DE7;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.7);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
.reveal {
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.reveal.visible {
  opacity: 1;
  transform: translateY(0);
  animation: fadeIn 1s ease-out forwards;
}

@media (max-width: 575px) {
  .top-announcement {
    padding: 2px 10px;
  }
}

header nav {
  position: relative;
  top: 0;
  width: 100%;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0px;
}
header nav div.brand-logo a {
  display: block;
  width: auto;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (max-width: 575px) {
  header nav div.brand-logo a img {
    width: 80%;
  }
}
header nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  color: white;
  flex-grow: 1;
  max-width: 650px;
  border-radius: 20px;
}
header nav ul li a {
  color: black;
  display: block;
}
header nav ul li a.nav-btn {
  background-color: #624DE7;
  color: white;
  padding: 10px 15px;
  border-radius: 50px;
  font-weight: 600;
}
header nav div.menu-btn {
  display: none;
  cursor: pointer;
}
header nav div.menu-btn .menu-bar {
  background-color: #624DE7;
  width: 20px;
  height: 2px;
  margin: 5px 0;
}

.home-hero-col img {
  width: 100%;
  height: auto;
}

img.accent-arrow {
  position: absolute;
  right: -40px;
  top: 48px;
  width: 136px;
  height: 132px;
}
@media (max-width: 575px) {
  img.accent-arrow {
    display: none;
  }
}

.reach-out form input:focus {
  outline: none;
}
.reach-out form .field-wrap {
  max-width: 350px;
}
.reach-out form .field-wrap:focus-within {
  border-color: #ffd900;
  border-width: 2px;
}

.update-img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 300px;
}
@media (max-width: 1300px) {
  .update-img {
    height: 250px;
  }
}
@media (max-width: 1200px) {
  .update-img {
    height: 200px;
  }
}

.updates-col:not(:last-child) {
  margin-bottom: 30px !important;
}
.updates-col:hover {
  background-color: #ffd900;
  box-shadow: 0 0 80px rgba(0, 0, 0, 0.25);
  padding: 20px;
  border-radius: 20px;
}

@media (max-width: 500px) {
  .business-trustship img {
    width: 40px;
    height: 40px;
  }
}

.home-service-section {
  padding: 75px 20px;
  background-color: #F7F6FE;
}
.home-service-section .row {
  max-width: 920px;
  margin: auto !important;
}
.home-service-section .title-col {
  text-align: center;
  margin-bottom: 50px !important;
}
.home-service-section .title-col h6 {
  font-size: 16px;
  font-weight: 500;
  color: #624DE7;
}
.home-service-section .service-row {
  max-width: 1000px;
  margin: auto !important;
}
.home-service-section .service-col {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 20px;
  text-align: center;
  padding: 40px 20px !important;
}
.home-service-section .service-col h4 {
  font-size: 16px;
  font-weight: 700;
}
.home-service-section .service-col img {
  width: 80px;
  height: 80px;
  -o-object-fit: cover;
     object-fit: cover;
}
.home-service-section .service-col:hover {
  background-color: #ffd900;
  border-radius: 20px;
  box-shadow: 0 0 80px rgba(0, 0, 0, 0.25);
}

.why-choose-section {
  padding: 100px 20px;
  width: 100%;
  overflow-x: hidden;
}
.why-choose-section .row {
  justify-content: center;
  max-width: 1244px;
  margin: auto !important;
}
.why-choose-section .why-col-2 {
  padding-left: 22px !important;
}
.why-choose-section .why-col-2 div.counter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 40px;
  margin-bottom: 40px;
  padding: 20px;
  border-radius: 10px;
  border: 1px solid #E0E0E0;
  background: #FFF;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
}
.why-choose-section .why-col-2 div.counter h3 {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 10px !important;
  color: #624DE7;
}
.why-choose-section .why-col-2 div.counter p {
  font-weight: 500;
  color: black;
}
.why-choose-section .why-col-1 img {
  max-width: 594px;
  max-height: 449px;
  -o-object-fit: cover;
     object-fit: cover;
}

.project-section {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.project-section .row {
  max-width: 1055px;
  margin: auto !important;
}
.project-section .title-col {
  text-align: center;
  margin-bottom: 50px !important;
}
.project-section .title-col h6, .project-section .title-col span, .project-section .title-col p {
  color: #555555;
}
.project-section .title-col p {
  font-size: 24px;
  font-weight: 300;
}
.project-section .work-col {
  padding: 20px !important;
}
.project-section .work-col .work-wrap {
  padding: 10px;
  background-color: #EFEDFD;
  border-radius: 20px;
  text-align: center;
}
.project-section .work-col .work-wrap:hover {
  box-shadow: 0 0 50px #624DE7;
}
.project-section .work-col .work-wrap img {
  width: 100%;
  height: 280px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 15px;
  margin-bottom: 40px;
}
.project-section .work-col .work-wrap span {
  font-size: 12px;
  font-weight: 700;
  color: #624DE7;
}
.project-section .work-col .work-wrap h3 {
  font-size: 20px;
  font-weight: 700;
  margin: 10px auto !important;
}
.project-section .work-col .work-wrap h3 {
  color: black;
}
.project-section .work-col .work-wrap a.btn-blue {
  width: 90%;
  margin: 30px auto;
  padding: 10px;
}
.project-section .bottom-col {
  text-align: center;
  margin-top: 50px !important;
}
.project-section .bottom-col p {
  font-size: 24px;
  font-weight: 300;
  color: #555555;
}
.project-section .bottom-col a {
  margin: 20px auto 0;
}

.testimonial-section {
  padding: 50px 0;
  background-color: #F7F6FE;
}
.testimonial-section .row {
  max-width: 1174px;
  margin: auto !important;
}
.testimonial-section .title-col {
  text-align: center;
  margin-bottom: 50px !important;
}
.testimonial-section .title-col p {
  font-size: 24px;
  font-weight: 300;
}
.testimonial-section .card-slider-section {
  margin-top: 50px;
  margin-bottom: 50px;
}
.testimonial-section .slider-top-text {
  text-align: center;
  padding: 20px;
}
.testimonial-section .slider-top-text h1 {
  font-size: 30px;
  font-weight: 700;
  color: #444444;
  text-transform: capitalize;
}
.testimonial-section .slider-top-text p {
  font-size: 16;
  color: #595959;
  max-width: 800px;
  margin: auto;
}
.testimonial-section .slider-col {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.testimonial-section .slider-col button img {
  width: 60px;
  height: 60px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  border-radius: 50%;
}
.testimonial-section .slider-col button.prev-btn img {
  transform: scaleX(-1);
}
.testimonial-section .slider-container {
  position: relative;
  overflow: hidden;
  max-width: 934px;
  margin: 0px auto;
  display: flex;
  justify-content: start;
  align-items: center;
  overflow-x: auto;
}
.testimonial-section .slider-container::-webkit-scrollbar {
  display: none;
}
.testimonial-section .card-slider {
  display: flex;
  transition: transform 0.5s ease-in-out;
}
.testimonial-section .card-slider a {
  text-decoration: none;
}
.testimonial-section .card {
  width: 214px;
  padding: 20px;
  margin: 10px;
  border: none;
  border-radius: 20px;
  background-color: white;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  justify-content: start;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
  text-align: left;
}
.testimonial-section .card img.top-img {
  width: 94px;
  height: 94px;
  display: block;
  margin: auto;
  border-radius: 100px;
  -o-object-fit: cover;
     object-fit: cover;
  border: 2px transparent solid;
}
.testimonial-section .card h1 {
  font-size: 18px;
  font-weight: 700;
  color: black;
  margin: 20px 0 5px;
}
.testimonial-section .card p {
  color: #555555;
  text-align: center;
}
.testimonial-section .prev-btn,
.testimonial-section .next-btn {
  position: absolute;
  z-index: 11;
  font-size: 20px;
  background: transparent;
  border: none;
  cursor: pointer;
}
.testimonial-section .prev-btn {
  left: 20px;
}
@media (max-width: 575px) {
  .testimonial-section .prev-btn {
    left: 0;
  }
}
.testimonial-section .next-btn {
  right: 20px;
}
@media (max-width: 575px) {
  .testimonial-section .next-btn {
    right: 0;
  }
}

.values-section {
  background-color: #EFEDFD;
  background-image: url(../images/values-bg.png);
  background-blend-mode: difference;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.values-section .values-row {
  max-width: 1224px;
  margin: auto !important;
}
.values-section .title-col {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.values-section .title-col p {
  max-width: 450px;
  text-align: center;
}
.values-section .title-col p.p-large {
  font-size: 24px;
  font-weight: 300;
  text-align: center;
}
.values-section .title-col p.p-small {
  max-width: 350px;
  margin: 20px 0 !important;
}
.values-section .value-col {
  padding: 10px !important;
}
.values-section .value-col .value-wrap {
  background-color: #624DE7;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  gap: 20px;
}
.values-section .value-col .value-wrap h4 {
  font-size: 18px;
  font-weight: 700;
}
.values-section .value-col .value-wrap p {
  color: white;
}
.values-section .value-col img {
  width: 50px;
  height: 50px;
  -o-object-fit: cover;
     object-fit: cover;
}

.contact-form-section {
  min-height: 100vh;
  background-image: url(../images/contact-form-bg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 20px;
}
.contact-form-section .row {
  justify-content: end !important;
  align-items: center !important;
  height: 100vh;
}
.contact-form-section .form-col h1 {
  font-size: 30px;
  font-weight: 700;
  color: white;
  margin-bottom: 30px !important;
  max-width: 270px;
}
.contact-form-section .form-col form {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 20px;
}
.contact-form-section .form-col form input, .contact-form-section .form-col form textarea {
  width: 320px;
  padding: 5px;
  border-radius: 5px;
}
.contact-form-section .form-col form button {
  margin-top: 10px;
  border: none;
}

.team-section .row {
  max-width: 1100px;
  margin: auto !important;
  justify-content: center;
  gap: 40px;
}
.team-section .title-col {
  text-align: center;
  margin-bottom: 10px !important;
}
.team-section .title-col p {
  font-size: 24px;
  font-weight: 300;
}
.team-section .team-col {
  max-width: 240px;
  padding: 20px;
  border-radius: 20px;
}
.team-section .team-col:hover {
  background-color: #ffd900;
  padding: 20px;
  box-shadow: 0 0 60px rgba(0, 0, 0, 0.2);
}
.team-section .member-wrap {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 20px;
  text-align: center;
}
.team-section .member-wrap h3 {
  font-size: 18px;
  font-weight: 700;
}
.team-section img.member-img {
  width: 100%;
  max-height: 162px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
}
.team-section div.social-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.team-section div.social-icons img {
  width: 20px;
  height: 20px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 20px;
}

.service-banner {
  position: relative;
}
.service-banner .blub {
  position: absolute;
}

.title {
  margin: auto !important;
  max-width: 800px;
}
.title h2 {
  max-width: 520px;
}

.service-card {
  box-shadow: 2px 4px 30.7px 0px rgba(98, 77, 231, 0.5), 3px 5px 25.1px 0px rgba(0, 0, 0, 0.1);
  border: 1px solid #BEBEBE;
  overflow: hidden;
  padding: 40px;
  margin-bottom: 40px;
}
.service-card:hover {
  border: 1px #624DE7 solid;
  box-shadow: 2px 4px 30.7px 0px rgb(98, 77, 231), 3px 5px 25.1px 0px rgba(0, 0, 0, 0.1);
}
.service-card img {
  height: 180px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.service-card h5 {
  margin: 30px auto 10px !important;
}

.plan-section {
  overflow: hidden;
}
.plan-section img.blub-2 {
  top: 10%;
}

.plan-row {
  align-items: center;
}

@media (max-width: 575px) {
  .plan-col {
    margin-bottom: 40px !important;
  }
}

.plan-card {
  box-shadow: 2px 4px 30.7px 0px rgba(98, 77, 231, 0.5), 3px 5px 25.1px 0px rgba(0, 0, 0, 0.1);
  border: 1px solid #BEBEBE;
  overflow: hidden;
  padding: 30px;
  border-radius: 40px;
  text-align: center;
  background-color: white;
}
.plan-card h6 {
  text-transform: uppercase;
}
.plan-card ul li:not(:last-child) {
  margin-bottom: 10px;
}
.plan-card ul svg {
  margin-right: 10px;
}

.plan-card.best-offer {
  border: 2px #624DE7 solid;
  border-radius: 0 0 40px 40px;
}

.popular-offer {
  height: 50px;
  border-radius: 40px 40px 0 0;
  font-weight: 700;
}

.plan-card > * {
  width: 100%;
}

.pricing-tag {
  border: 1px solid #777;
  font-size: 14px;
  color: #555555;
}

.services-hero-section {
  background-image: url(../images/services-hero-bg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 50vh;
  padding: 100px 20px;
}
.services-hero-section .row {
  justify-content: start;
}
.services-hero-section .col {
  text-align: center;
}
.services-hero-section .col h5 {
  font-size: 16px;
  color: black;
}
.services-hero-section .col h1 {
  margin: 15px auto !important;
  color: #624DE7;
  font-size: 50px;
  font-weight: 700;
}
.services-hero-section .col p {
  max-width: 510px;
  margin: auto !important;
}
.services-hero-section .col .btns-div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-top: 30px;
}
.services-hero-section .col .btns-div a.btn-white {
  background-color: transparent;
  color: #624DE7;
  border: #624DE7 1px solid;
  padding: 10px 20px;
}
.services-hero-section .col .btns-div a.btn-white:hover {
  background-color: black;
  border: 1px black solid;
  color: white;
}
.services-hero-section .col .btns-div a.btn-blue {
  border: #624DE7 1px solid;
  padding: 10px 20px;
}

.service-section {
  padding: 100px 20px;
}
.service-section .row {
  max-width: 1100px;
  margin: auto !important;
  justify-content: center;
  gap: 100px;
}
.service-section .title-col {
  margin-bottom: 0 !important;
}
.service-section .services-col {
  max-width: 450px;
  text-align: center;
  border: 1px rgba(230, 230, 230, 0) solid;
  border-radius: 10px;
  padding: 20px !important;
}
.service-section .services-col img {
  width: 100%;
  height: auto;
}
.service-section .services-col h5 {
  font-size: 16px;
  font-weight: 700;
  margin: 20px auto 10px !important;
}
.service-section .services-col p {
  max-width: 300px;
  margin: auto !important;
}
.service-section .services-col:hover {
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
  border: 1px #e6e6e6 solid;
}

.form-section-new {
  background-image: none;
  padding: 100px 20px;
  background-image: linear-gradient(to bottom right, rgba(17, 124, 255, 0.3), #ffffff, #fff, #fff);
}
.form-section-new .row {
  max-width: 1300px;
  margin: auto !important;
  justify-content: center;
  gap: 50px;
}
.form-section-new img.form-vector {
  max-width: 100%;
  max-height: 592px;
  -o-object-fit: cover;
     object-fit: cover;
}
.form-section-new .form-col {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.form-section-new .form-col h1 {
  font-size: 30px;
  font-weight: 700;
  color: #624DE7;
  margin-bottom: 30px !important;
  max-width: 270px;
  text-align: center;
}
.form-section-new .form-col form {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 20px;
}
.form-section-new .form-col form input, .form-section-new .form-col form textarea {
  width: 320px;
  padding: 5px;
  border-radius: 5px;
  border: 1px #d4d4d4 solid;
  background-color: #e2efff;
}
.form-section-new .form-col form button {
  margin: auto;
  margin-top: 10px;
  border: none;
}
.form-section-new .form-col form input:focus, .form-section-new .form-col form textarea:focus {
  outline: 1px #624DE7 solid;
}
.form-section-new .vector-col {
  display: flex;
  justify-content: center;
  align-items: center;
}

.project-card h5 {
  color: black;
}
.project-card svg:hover path {
  fill: #ffd900 !important;
}
.project-card img {
  height: 260px;
}
@media (max-width: 1250px) {
  .project-card img {
    height: 200px;
  }
}
@media (max-width: 600px) {
  .project-card img {
    height: 180px;
  }
}

.project-section-2 {
  background-image: none;
}
.project-section-2 .title-col h1 span {
  color: #624DE7;
}
.project-section-2 .title-col h6 {
  color: #624DE7;
}
.project-section-2 .title-col p {
  color: #555555;
}
.project-section-2 .bottom-col p {
  color: #555555;
}

.map {
  border-radius: 20px 0 0 0px;
}

.contact-form-sec img {
  border-radius: 40px 0 0 40px;
}
.contact-form-sec .form-wrap {
  border-radius: 0 40px 40px 0;
  box-shadow: 3px 5px 25.1px 0px rgba(0, 0, 0, 0.1);
}
.contact-form-sec .form-wrap form input, .contact-form-sec .form-wrap form textarea {
  border: none;
  border-bottom: 1px #BEBEBE solid;
}
.contact-form-sec .form-wrap form input:focus, .contact-form-sec .form-wrap form textarea:focus {
  outline: none;
  border-color: #624DE7;
  border-width: 1px;
}
.contact-form-sec .form-wrap form textarea {
  height: 70px;
}
.contact-form-sec .form-wrap form button {
  border: none;
}

.contactpage-form-section {
  background-image: none;
}

.testimonial-section-2 {
  background-image: linear-gradient(to bottom right, rgba(17, 124, 255, 0.3), #ffffff, #fff, #e9e9e9);
}

section.footer {
  background-color: #624DE7;
  position: relative;
  width: 100%;
  overflow: hidden;
  margin-bottom: 0 !important;
}
section.footer .footer-main-row {
  padding: 100px 0;
  position: relative;
  z-index: 1;
}
section.footer img.fade-logo {
  position: absolute;
  z-index: 1;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
}
section.footer .row {
  position: relative;
  z-index: 2;
  max-width: 1440px;
  justify-content: center;
  margin: auto !important;
  gap: 20px;
}
section.footer .footer-col {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  text-align: left;
  gap: 20px;
}
section.footer .footer-col h2 {
  font-size: 16px;
  font-weight: 700;
}
section.footer .footer-col p {
  color: white;
  transition: all 0.2s;
}
section.footer .footer-col p:hover {
  color: #ffd900;
  position: relative;
  transform: translateX(10px);
  cursor: pointer;
  font-weight: 900;
}
section.footer .footer-col div.social-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
section.footer .footer-col div.social-icons img {
  border-radius: 16px;
  width: 30px;
  height: 30px;
  -o-object-fit: cover;
     object-fit: cover;
}
section.footer .footer-col .footer-content {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  text-align: left;
  gap: 15px;
}
section.footer .footer-policy-col {
  color: white;
}
section.footer .footer-policy-col div.footer-line {
  height: 1px;
  width: 100%;
  margin: 30px 0;
  background-color: rgba(255, 255, 255, 0.3);
}
section.footer .footer-policy-col h5 {
  margin-bottom: 10px !important;
}
section.footer .footer-policy-col p {
  color: rgba(255, 255, 255, 0.6);
}
section.footer .footer-col:first-child {
  align-items: center;
  text-align: center;
  margin-right: 30px !important;
}
section.footer .social-handle svg:hover path {
  fill: #ffd900 !important;
  cursor: pointer;
}

@media (min-width: 1060px) {
  .service-section {
    padding: 100px 50px !important;
  }
  .service-section .row {
    justify-content: space-between;
  }
}
@media (max-width: 991px) {
  .footer .row {
    gap: 50px;
  }
}
@media (max-width: 900px) {
  header nav div.menu-btn {
    display: block;
  }
  header nav ul {
    position: absolute;
    top: 70px;
    left: 0;
    background-color: #EFEDFD;
    width: 100%;
    flex-direction: column;
    justify-content: start;
    gap: 0px;
    padding: 20px;
    height: calc(100vh - 70px);
  }
  header nav ul li {
    display: block;
    width: 100%;
  }
  header nav ul li a {
    text-align: center;
    border-bottom: 1px #624DE7 solid;
    padding: 20px;
  }
  header nav ul li a.btn-general {
    margin: auto;
  }
  header nav ul li a.nav-btn {
    padding: 20px;
    border-bottom: none;
  }
  header nav ul li:nth-last-child(2) a {
    border-bottom: none;
  }
  header nav ul.hide {
    display: none;
  }
  .contact-form-section .row {
    justify-content: center !important;
  }
}
@media (max-width: 840px) {
  .footer img.fade-logo {
    width: 100%;
    height: auto;
  }
}
@media (max-width: 571px) {
  .why-choose-section .why-col-1 img {
    max-width: 100%;
    max-height: 449px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .testimonial-section .slider-container {
    max-width: 250px;
  }
  .testimonial-section .card {
    width: 236px;
  }
  .testimonial-section .prev-btn {
    left: 0px;
  }
  .testimonial-section .next-btn {
    right: 0px;
  }
}/*# sourceMappingURL=ult-style.css.map */